/* css Responsive */
@media (max-width: 450px) {

    /* Navbar Start */


    .button-search {
        width: 100px !important;
        height: 34px;
    }

    .button-search img {
        width: 15px;
    }

    .button-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .button-wrapper .button-wishlist {
        width: 40px;
        height: 30px;
        border-radius: 7px;
        background-color: #F1F7FF;
        border: 1px solid #C1C1C1;
    }

    .button-wrapper .button-wishlist img {
        width: 22.17px;
        height: 20.938px;
        margin-top: -2px;
    }

    .button-wrapper2 {
        margin-top: 5px;
    }

    .button-wrapper .button-login {
        height: 30px;
        border-radius: 7px;
    }

    .button-wrapper .button-jual {
        height: 30px;
        border-radius: 7px;
    }

    /* Navbar End */


    /* Hero Start */
    .hero-section {
        height: 165px;
        z-index: 5;
    }

    .hero-produk {
        font-size: 26px;
        left: 20px;
        margin-top: 15px;
    }

    .hero-text {
        font-size: 10px;
        left: 20px;
        margin-top: -5px;
    }

    .btn-mj {
        font-size: 10px;
        width: 103px;
        padding: 5px 15px;
        border-radius: 5px;
        left: 20px;
        margin-top: -5px;
    }

    /* Hero End */


    /* Kategori Start */
    .kategori4 {
        color: #004897;
        line-height: 120%;
        font-size: 20px;
    }

    .kat4ls-wrapper {
        color: #004897;
        font-size: 13px;
        line-height: 120%;
    }

    .kat4-display {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .kat4-wrapper {
        margin: 0 20px;
    }

    .kat4-card img {
        width: 31.181px;
        height: 31.182px;
    }

    a .kat4-card p {
        font-size: 10px;
    }

    /* Kategori End */


    /* Rekomendasi Card Start */
    .rekomen {
        color: #004897;
        line-height: 120%;
        font-size: 20px;
    }

    .rekomls-wrapper {
        color: #004897;
        font-size: 13px;
        line-height: 120%;
    }

    .card-start {
        position: relative;
        width: 175px;
        height: 210px;
        background-color: #ffffff;
        border-radius: 5px;
        border: 0.5px solid;
        border-color: #959595;
    }

    .card-start-hide {
        display: none;
    }

    .card-i {
        position: relative;
        width: 152px;
        height: 105px;
        top: 10px;
        left: 10px;
        object-fit: cover;
    }

    .card-start .harga {
        font-size: 14px;
        margin-left: 13px;
    }

    .card-icon a img {
        width: 15px;
        height: 14px;
        margin-right: 13px;
        margin-top: -3px;
    }

    div .tahun {
        font-size: 12px;
        margin-left: 13px;
    }

    div .judul {
        font-size: 12px;
        margin-left: -10px;
        margin-left: 13px;
    }

    div .loc {
        font-size: 10px;
        margin-left: -10px;
        margin-left: 13px;
    }

    .btn-loadmore {
        width: 171px;
        padding: 10px;
        border-radius: 5px;

        font-size: 14px;
        font-weight: 600;
    }

    /* Rekomendasi Card End */


    /* Footer Start */
    .footer-start {
        padding: 32px 16px;
    }

    /* Footer End */


    /* DETAIL PRODUK */

    /* Breadcrumb Start */
    .breadcrumb-tree {
        display: none;
    }

    /* Breadcrumb End */


    /* Info Produk Start */
    .ip-title {
        font-size: 18px;
    }

    .ip-harga {
        font-size: 18px;
    }

    .ip-lokasi {
        gap: 12px;
    }

    .icon-lokasi {
        width: 22.93px;
        height: 17.337px;
    }

    .ip-alamat {
        font-size: 12px;
    }

    .ip-kalender {
        gap: 12px;
    }

    .icon-kalender {
        width: 22px;
        height: 22px;
    }

    .ip-tanggal {
        font-size: 12px;
    }

    .ip-wrapper {
        display: flex;
        justify-content: start;
    }

    .btn-nego {
        width: 77.627px;
        height: 24.291px;
        padding: 2.112px 11.09px;
        border-radius: 4.225px;

        font-size: 12px;
        font-weight: 500;
    }

    .btn-wishlist {
        width: 32.741px;
        height: 24.291px;
        padding: 2.112px 11.09px;
        border-radius: 4.225px;
    }

    .btn-wishlist img {
        margin-top: -5px;
        margin-left: -2px;
        width: 15.994px;
        height: 9.329px;
    }

    /* Info Produk End */


    /* Detail Info Start */
    .di-title {
        font-size: 14px;
    }

    .di-deskripsi {
        font-size: 12px;
    }

    /* Detail Info End */


    /* User Profile Start */
    .up-start {
        padding: 16px 0px;
    }

    .up-profile {
        gap: 16px;
    }

    .up-picprofile {
        width: 71px;
        height: 71px;
    }

    .up-name {
        font-size: 14px;
    }

    .up-date {
        font-size: 12px;
    }

    .up-lp a {
        font-size: 12px;
    }

    /* User Profile End */


    /* WISHLIST */

    /* Wishlist Start */
    .wishlist {
        color: #000;
        line-height: 120%;
        font-size: 20px;
    }

    .card-start-wishlist {
        position: relative;
        width: 175px;
        height: 230px;
        background-color: #ffffff;
        border-radius: 5px;
        border: 0.5px solid;
        border-color: #959595;
    }

    .card-start-wishlist .harga {
        font-size: 14px;
        margin-left: 13px;
    }

    .card-start-wishlist .remove {
        font-size: 10px;
        margin-left: 13px;
    }

    .card-icon a img {
        width: 13px;
        height: 13px;
    }

    /* Wishlist End */
}