@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Navbar Start */

nav {
    max-width: 100%;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 10;
}

.logo span {
    font-size: 24px;
    color: #000;
    font-weight: bold;
    align-items: center;

}

nav .menu-aksi {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.menu-aksi .form-search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-aksi .input-search {
    max-width: 90%;
    width: 35rem;
    height: 30px;
    background-color: #F1F7FF;
    font-size: 12px;
    z-index: 10;

}

.form-search .btn-search {
    width: 45px;
    height: 30px;
    background-color: #007AFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 10;
}


.tombol-aksi {
    display: flex;
    gap: 20px;
}

.menu-aksi ul {
    display: none;
}

.btn-login {
    background-color: #F1F7FF;
    color: #007AFF;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
}

.btn-login:hover {
    background-color: #c5dcfb;
    color: #007AFF;
}

.btn-jual {
    background-color: #007AFF;
    color: #fff;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
}

.btn-jual:hover {
    background-color: #96c9ff;
    color: #fff;
}

.menu-toggle {
    display: none;
}

/* End Navbar */

/* Hero Start */
.hero-section {
    max-width: 100%;
    width: 100%;
    height: auto;
    position: relative;
}

.hero-img {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 500px;
}

.hero-produk {
    position: relative;
    color: #FFF;
    font-size: 64px;
    font-weight: 600;
    margin-top: 12rem;
    margin-bottom: 1px;
    left: 144px;
    max-width: calc(100% - 50%);
}

.hero-text {
    position: relative;
    color: #FFF;
    font-size: 18px;
    left: 144px;
    max-width: calc(100% - 50%);
}

.btn-mj {
    position: relative;
    width: 193px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #007AFF;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    left: 144px;
    transition: background-color 0.2s ease;
}

.btn-mj:hover {
    background: #0062CC;
}

/* Hero End */

/* start modal Login */

.modalLogin {
    display: none;
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    border-radius: 5px;
    width: 70%;
    max-width: 800px;
    margin: 2rem auto 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 90%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.flex-item-left {
    flex: 45%;
}

.flex-item-right {
    flex: 45%;
}

.img-login {
    max-width: 100%;
    width: 100%;
    height: 80.5%;
    object-fit: cover;
}

.form-login input {
    background-color: #F2F4F8;
    width: 95%;
}

.password-container {
    position: relative;
}

.btnLogin{
    width: 95%;
}

.toggle-password {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn-google {
    border: 2px solid #000;
    padding: 3px 0;
    width: 95%;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}

.form-login .forgot a {
    color: #001D6C;
    text-decoration: none;
}

.create-account {
    color: #001D6C;
    text-decoration: none;
}


/* End modal login */


/* Kategori Start */

.container{
    margin-top: 12rem;
}

.title-categorie {
    font-weight: 600;
    font-size: 32px;
    color: #004897;
    line-height: 120%;
    margin-right: auto;
}

.kat4-wrapper {
    text-decoration: none;
}

.kat4-card img {
    width: 44.685px;
    height: 44.685px;
    transition: background-color 0.2s ease;
}

.kat4-card img:hover {
    opacity: 0.8;
}

.kat4-card p {
    font-size: 16px;
    color: #747576;
}

/* Kategori End */


/* Rekomendasi Card Start */
.rekomen {
    font-weight: 600;
    font-size: 32px;
    color: #004897;
}

.rekom-a {
    text-decoration: none;
}

.rekomls-wrapper {
    color: #004897;
    font-size: 16px;
}

.rekomls-wrapper:hover {
    color: #2196f3;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


.card {
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 2rem;
}

.card img {
    padding: 15px
}

.harga {
    font-weight: 600;
    font-size: 24px;
}

.tahun {
    color: #747474;
    font-size: 15px;
    font-weight: 600;
    margin-top: -12px;
}

.name {
    color: #747474;
    font-size: 15px;
    font-weight: 300;
}

.location {
    color: #747474;
    font-size: 13px;
    font-weight: 400;
}

.btn-loadmore {
    border: none;
    width: 213px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #007AFF;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: background-color 0.2s ease;
}

.btn-loadmore:hover {
    background: #0062CC;
}

/* Rekomendasi Card End */

/* Login Start */



/* Login End */


/* Footer Start */
.footer-start {
    background: #212121;
    padding: 64px 115px;
    margin-top: 3rem;
}

.footcol1 span {
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
}

.text-cpr {
    color: #F5F7FA;
    font-size: 14px;
    line-height: 20px;
}

.footer-title {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.foot-nav {
    color: #F5F7FA;
    font-size: 14px;
    line-height: 20px;
}

.footer-input {
    width: 275px;
    padding: 9px 12px;
    border-radius: var(--Spacing-1, 8px);
    background: #4D4D4D;
}

.footer-input input {
    border: none;
    width: 220px;
    margin-right: 5px;
    background: #4D4D4D;
    color: var(--Text-Gray-300, #D9DBE1);
    font-size: 14px;
    line-height: 20px;
}

.footer-input button {
    border: none;
    background: #4D4D4D;
}

/* Footer End */


/* DETAIL-PRODUCT */

/* Breadcrumb Start */
.breadcrumb-tree {
    display: inline-block;
}

.breadcrumb-tree li {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
}

.breadcrumb-tree li+li {
    margin-left: 10px;
}

.breadcrumb-tree li+li:before {
    content: '/';
    display: inline-block;
    color: #848484;
    margin-right: 10px;
}

.breadcrumb-tree li a {
    color: #848484;
    text-decoration: none;
}

.breadcrumb-tree li a:hover {
    color: #007AFF;
}

.breadcrumb-tree .aktif {
    font-size: 14px;
    font-weight: 600;
}

/* Breadcrumb End */


/* Image Start */
/* Image End */


/* Info Produk Start */
.ip-title {
    color: #000;
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
}

.ip-harga {
    color: #000;
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
}

.produk-section2 {
    border-top: 2px solid #C1C1C1;
    border-bottom: 2px solid #C1C1C1;
}

.ip-lokasi {
    position: relative;
    width: 100%;
    gap: 27px;
}

.icon-lokasi {
    position: relative;
    width: 32.89px;
    height: 24.85px;
}

.ip-alamat {
    position: relative;
    font-size: 18px;
    color: #6a747b;
    line-height: 140%;
}

.ip-kalender {
    position: relative;
    width: 100%;
    gap: 27px;
}

.icon-kalender {
    position: relative;
    width: 32px;
    height: 32px;
}

.ip-tanggal {
    position: relative;
    font-size: 18px;
    color: #6a747b;
    line-height: 140%;
}

.ip-wrapper {
    display: flex;
    justify-content: end;
}

.ip-wrapper button {
    border: none;
}

.btn-nego {
    width: 136px;
    height: 45px;
    padding: 4px 21px;
    border-radius: 10px;
    background: #007AFF;

    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    transition: background-color 0.2s ease;
}

.btn-nego:hover {
    background-color: #2196F3;
}

.btn-wishlist {
    width: 55px;
    height: 45px;
    padding: 4px 21px;
    border-radius: 10px;
    background: #007AFF;
    transition: background-color 0.2s ease;
}

.btn-wishlist:hover {
    background-color: #2196F3;
}

.btn-wishlist img {
    margin-top: -3px;
    margin-left: -5px;
    width: 25px;
    height: 14.583px;
}

/* Info Produk End */


/* Detail Info Start */
.di-title {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
}

.di-deskripsi {
    color: #6A747B;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

/* Detail Info End */


/* User Profile Start */
.up-start {
    background: #EEE;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.16);
    padding: 16px 115px;
}

.up-profile {
    gap: 32px;
}

.up-picprofile {
    width: 81px;
    height: 81px;
}

.up-name {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
}

.up-date {
    color: #6A747B;
    font-size: 14px;
    line-height: 140%;
}

.up-lp a {
    text-decoration: none;
    color: #007AFF;
    font-size: 14px;
    line-height: 140%;
}

/* User Profile End */


/* WISHLIST */

/* Wishlist Start */
.wishlist {
    font-weight: 600;
    font-size: 32px;
    color: #000;
    line-height: 120%;
}

.card-start-wishlist {
    position: relative;
    width: 357px;
    height: 373px;
    border-radius: 5px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.card-start-wishlist .harga {
    font-weight: 600;
    font-size: 24px;
}

.card-start-wishlist .remove {
    margin-right: auto;
    color: #FF5757;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

/* Wishlist End */

/* Resposive Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo span {
        display: none;
    }

    .menu-aksi .input-search {
        width: 30rem;
        z-index: 10;
    }

    .tombol-aksi {
        display: none;
    }

    .menu-toggle {
        background-color: #007AFF;
        color: #fff;
        height: 30px;
        display: flex;
        align-items: center;
        z-index: 10;
    }

    .menu-aksi ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #fff;
        width: 100%;
        right: 0;
        top: 0;
        position: absolute;
        padding-top: 3rem;
        height: 50vh;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
        border-radius: 0 10px 0;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }

    .menu-aksi ul li {
        list-style: none;
    }

    .menu-aksi ul li:hover {
        background-color: #c5dcfb;
        padding: 10px;
        border-radius: 5px;
        width: 95%;
    }

    .menu-aksi ul li a {
        color: #000;
        text-decoration: none;
    }

    .menu-aksi ul.slide {
        opacity: 1;
        transform: translateX(0);
        z-index: 2;
    }

    /* Start Hero */
    .hero-section {
        height: 350px;
    }

    .hero-section .hero-img {
        margin-top: 3rem;
        height: auto;
    }

    .hero-produk {
        font-size: 35px;
        margin-top: 9rem;
        margin-bottom: 2px;
        left: 5rem;
    }

    .hero-text {
        font-size: 15px;
        left: 5rem;
    }

    .btn-mj {
        width: 160px;
        left: 5rem;
        font-size: 15px;
    }
    /* End Hero */

    /* Kategori */
    .container {
        margin-top: 7rem;
    }
    /* Kategori */
}


/* Resposive Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
    nav{
        width: 100%;
        height: 50px;
    }

    .logo span {
        display: none;
    }

    .tombol-aksi {
        display: none;
    }

    .menu-aksi .input-search {
        width: 10rem;
        height: 25px;
        font-size: 0.7em;
        z-index: 10;
    }

    .form-search .btn-search {
        width: 28px;
        height: 25px;
        z-index: 10;
    }

    .menu-toggle {
        background-color: #007AFF;
        color: #fff;
        display: flex;
        align-items: center;
        z-index: 10;
        width: 28px;
        height: 25px;
        padding: 5px;
    }

    .menu-aksi ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #fff;
        width: 100%;
        right: 0;
        top: 0;
        position: absolute;
        padding-top: 3rem;
        height: 50vh;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
        border-radius: 0 10px 0;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }

    .menu-aksi ul li {
        list-style: none;
    }

    .menu-aksi ul li:hover {
        background-color: #c5dcfb;
        padding: 10px;
        border-radius: 5px;
        width: 90%;
    }

    .menu-aksi ul li a {
        color: #000;
        text-decoration: none;
    }

    .menu-aksi ul.slide {
        opacity: 1;
        transform: translateX(0);
        z-index: 5;
    }

    /* Start Hero */
    .hero-section {
        width: 100%;
        height: auto;
        margin-bottom: 6rem;
    }

    .hero-section .hero-img {
        margin-top: 3rem;
        height: auto;
    }

    .hero-produk {
        font-size: 16px;
        margin-top: 5rem;
        margin-bottom: 2px;
        left: 2.5rem;
    }

    .hero-text {
        font-size: 10px;
        left: 2.5rem;
        margin-bottom: 5px;
        max-width: calc(100% - 25%);
    }

    .btn-mj {
        width: auto;
        left: 2.5rem;
        font-size: 10px;
        padding: 5px;
        border-radius: 5px;
    }

    /* End Hero */

    /* start Modal login css */

    .img-login {
        width: 100%;
        height: 120px;
    }

    .modal-content {
        width: 80%;
        height: 70%;
        margin-top: 4rem;
    }

    .flex-container {
        flex-direction: column;
        gap: 0;
    }

    .flex-item-right {
        padding-left: 30px;
    }

    .form-login input {
        width: 90%;
        font-size: 11px;
    }

    .btnLogin {
        font-size: 11px;
        width: 90%;
    }

    .toggle-password {
        right: 40px;
    }

    .btn-google {
        border: 1px solid #000;
        width: 90%;
        font-size: 11px;
    }

    .btn-google img {
        width: 15px;
    }

    .flex-item-right,
    p {
        font-size: 11px;
    }



    /* end modal login css */

    /* Categorie */
    .container{
        margin-top: 0;
    }
    .title-categorie {
        font-size: 16px;
        margin-right: 3rem;
    }

    .kat4-card p {
        font-size: 16px;
        color: #747576;
    }

    .kat4-card img {
        width: 25px;
        height: auto;
    }

    .kat4-card p{
        font-size: 8px;
    }

    /* Categorie */

    /* Rekomen */

    .rekomen {
        font-size: 16px;
        margin-right: 3rem;
        left: 2rem;
    }

    .rekomls-wrapper{
        font-size: 12px;
    }

    .card {
        position: relative;
        margin-top: 1rem;
        width: 160px;
    }

    .card img {
        padding: 5px;
    }


    .harga {
        font-weight: bold;
        font-size: 10px;
        margin-top: -12px;
    }

    .icon-wishlist svg {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #fff;
        padding: 2px;
        border-radius: 2px;
        width: 12px;
        height: 12px;
    }

    .tahun {
        color: #747474;
        font-size: 10px;
        font-weight: none;
    }

    .name {
        color: #747474;
        font-size: 10px;
        font-weight: none;
        overflow: hidden;
    }

    .location {
        color: #747474;
        font-size: 8px;
        font-weight: none;
    }

    /* Rekomen */


    /* more */
    .btn-loadmore {
        width: auto;
        padding: 6px;
        border-radius: 4px;
        background: #007AFF;
        color: #fff;
        font-size: 12px;
        font-weight: 0;
        transition: background-color 0.2s ease;
    }

    /* more */

    /* Footer */
    .footer-start {
        padding: 60px 50px;
        margin-top: 3rem;
    }

    .footer-title {
        margin-top: 3rem;
    }

}